if [ -e /etc/NIXOS ]; then
  echo "❄️ NixOS detected > Using flake.nix"
  use flake
elif has nix; then
  echo "📦 Nix detected > Using flake.nix"
  use flake
fi

if has layout; then
  layout node
else
  PATH_add node_modules/.bin
fi

export ENVIRONMENT=${ENVIRONMENT:-development}

echo "📦 Appended NodeJS binaries